

#ElementsArea {
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 10;
  margin-left: -489px;
}

#SECTION3 {
  position: relative;
  width: 100%;
  height: 567px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url(/assets/nuhnsdyooinlhklqtoxkylwkl_UserMedia.png);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#SECTION8 {
  position: relative;
  width: 100%;
  height: 998px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#SECTION7 {
  position: relative;
  width: 100%;
  height: 477px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url(/assets/tvctykphcmbkjvqwbacymgvko_UserMedia.png);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#SECTION6 {
  position: relative;
  width: 100%;
  height: 955px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#SECTION5 {
  position: relative;
  width: 100%;
  height: 1132px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url(/assets/dxnrnqhatmbgalrhsvhjyjxfm_UserMedia.png);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#SECTION4 {
  position: relative;
  width: 100%;
  height: 783px;
  margin: auto;
  background-color: #ebebeb;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#SECTION1 {
  position: relative;
  width: 100%;
  height: 171px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  -moz-box-shadow: px px px;
  -webkit-box-shadow: px px px;
  box-shadow: px px px;
}

#SECTION2 {
  position: relative;
  width: 100%;
  height: 61px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url(/assets/rnohhtaifdxiktmakreasarzp_UserMedia.png);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_3 {
  position: absolute;
  z-index: 1;
  height: 615px;
  width: 333px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 69px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_4 {
  position: absolute;
  z-index: 3;
  height: 34px;
  width: 558px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 103px;
  left: 406px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_5 {
  position: absolute;
  z-index: 4;
  height: 116px;
  width: 536px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 173px;
  left: 406px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_6 {
  position: absolute;
  z-index: 5;
  height: 66px;
  width: 480px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 310px;
  left: 408px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_9 {
  position: absolute;
  z-index: 9;
  height: 432px;
  width: 254px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 153px;
  left: 33px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_10 {
  position: absolute;
  z-index: 10;
  height: 46px;
  width: 790px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 729px;
  left: 94px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_11 {
  position: absolute;
  z-index: 11;
  height: 72px;
  width: 820px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 783px;
  left: 79px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_12 {
  position: absolute;
  z-index: 12;
  height: 87px;
  width: 84px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 882px;
  left: 781px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_13 {
  position: absolute;
  z-index: 13;
  height: 86px;
  width: 75px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 882px;
  left: 451.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_14 {
  position: absolute;
  z-index: 14;
  height: 75px;
  width: 96px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 882px;
  left: 113px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_15 {
  position: absolute;
  z-index: 15;
  height: 89px;
  width: 83px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1221px;
  left: 113.484375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_16 {
  position: absolute;
  z-index: 16;
  height: 78px;
  width: 75px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1230px;
  left: 451.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_17 {
  position: absolute;
  z-index: 17;
  height: 80px;
  width: 81px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1227px;
  left: 784.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_24 {
  position: absolute;
  z-index: 24;
  height: 126px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1047px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_25 {
  position: absolute;
  z-index: 25;
  height: 96px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1047px;
  left: 344px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_26 {
  position: absolute;
  z-index: 26;
  height: 84px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1047px;
  left: 679px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_27 {
  position: absolute;
  z-index: 27;
  height: 84px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1383px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_28 {
  position: absolute;
  z-index: 28;
  height: 84px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1383px;
  left: 344px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_29 {
  position: absolute;
  z-index: 29;
  height: 84px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1383px;
  left: 679px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_30 {
  position: absolute;
  z-index: 30;
  height: 279px;
  width: 281px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1662px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_37 {
  position: absolute;
  z-index: 38;
  height: 126px;
  width: 640px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1749px;
  left: 328px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_38 {
  position: absolute;
  z-index: 96;
  height: 138px;
  width: 508px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2089px;
  left: 11px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_39 {
  position: absolute;
  z-index: 97;
  height: 24px;
  width: 450px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2247px;
  left: 11px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_40 {
  position: absolute;
  z-index: 41;
  height: 80px;
  width: 84px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2333px;
  left: 114.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_41 {
  position: absolute;
  z-index: 42;
  height: 81px;
  width: 81px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2330px;
  left: 450.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_46 {
  position: absolute;
  z-index: 47;
  height: 63px;
  width: 295px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2486px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_47 {
  position: absolute;
  z-index: 48;
  height: 105px;
  width: 295px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2486px;
  left: 343.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_48 {
  position: absolute;
  z-index: 49;
  height: 84px;
  width: 295px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2822px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_49 {
  position: absolute;
  z-index: 50;
  height: 96px;
  width: 295px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2822px;
  left: 343.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_50 {
  position: absolute;
  z-index: 51;
  height: 462px;
  width: 608px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1896px;
  left: 360.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_52 {
  position: absolute;
  z-index: -10;
  height: 420px;
  width: 293px;
  border: 0px solid rgb(0, 0, 0);
  background-color: #f1f1f1;
  top: 2486px;
  left: 676px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_54 {
  position: absolute;
  z-index: 53;
  height: 3px;
  width: 240px;
  border: 0px solid rgb(0, 0, 0);
  background-color: #ffffff;
  top: 2564px;
  left: 703.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_55 {
  position: absolute;
  z-index: 54;
  height: 57px;
  width: 230px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2594px;
  left: 717px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_56 {
  position: absolute;
  z-index: 55;
  height: 57px;
  width: 230px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2666px;
  left: 717px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_57 {
  position: absolute;
  z-index: 56;
  height: 57px;
  width: 230px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2738px;
  left: 708px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_58 {
  position: absolute;
  z-index: 57;
  height: 9px;
  width: 9px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2594px;
  left: 699.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_59 {
  position: absolute;
  z-index: 58;
  height: 9px;
  width: 9px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2666px;
  left: 699.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_60 {
  position: absolute;
  z-index: 59;
  height: 9px;
  width: 9px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2738px;
  left: 690.984375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_61 {
  position: absolute;
  z-index: 60;
  height: 57px;
  width: 246px;
  border: 0px solid rgb(112, 112, 112);
  background-color: #f3ce34;
  top: 2822px;
  left: 691.5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_62 {
  position: absolute;
  z-index: 61;
  height: 146px;
  width: 936px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 3082px;
  left: 16px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_63 {
  position: absolute;
  z-index: 62;
  height: 44px;
  width: 640px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 3178px;
  left: 169px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_64 {
  position: absolute;
  z-index: 63;
  height: 457px;
  width: 876px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 3241px;
  left: 41px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_73 {
  position: absolute;
  z-index: 72;
  height: 73px;
  width: 640px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 4216px;
  left: 169px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_74 {
  position: absolute;
  z-index: 73;
  height: 44px;
  width: 670px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 4309px;
  left: 154px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_75 {
  position: absolute;
  z-index: 74;
  height: 280px;
  width: 280px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 4380px;
  left: 347px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_77 {
  position: absolute;
  z-index: 76;
  height: 84px;
  width: 440px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 4677px;
  left: 275px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_79 {
  position: absolute;
  z-index: 78;
  height: 21px;
  width: 440px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 4769px;
  left: 278px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_81 {
  position: absolute;
  z-index: 80;
  height: 5px;
  width: 80px;
  border: 0px solid rgb(0, 0, 0);
  background-color: rgb(243, 206, 52);
  top: 4752px;
  left: 457px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_91 {
  position: absolute;
  z-index: 90;
  height: 62px;
  width: 829px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 4957px;
  left: 116px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_93 {
  position: absolute;
  z-index: 92;
  height: 19px;
  width: 370px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 5103px;
  left: 600px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_95 {
  position: absolute;
  z-index: 93;
  height: 75px;
  width: 81px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2672px;
  left: 114.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_96 {
  position: absolute;
  z-index: 94;
  height: 83px;
  width: 83px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2669px;
  left: 448.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_97 {
  position: absolute;
  z-index: 95;
  height: 369px;
  width: 521px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1914px;
  left: 409.484375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_98 {
  position: absolute;
  z-index: -11;
  height: 67px;
  width: 225px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 412px;
  left: 664.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_99 {
  position: absolute;
  z-index: -12;
  height: 67px;
  width: 225px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 412px;
  left: 408.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_102 {
  position: absolute;
  z-index: -15;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 987px;
  left: 9px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_103 {
  position: absolute;
  z-index: -16;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 987px;
  left: 344px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_104 {
  position: absolute;
  z-index: -17;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 987px;
  left: 679px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_105 {
  position: absolute;
  z-index: -18;
  height: 92px;
  width: 323px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1323px;
  left: -3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_106 {
  position: absolute;
  z-index: -19;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1323px;
  left: 344px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_107 {
  position: absolute;
  z-index: -20;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 1323px;
  left: 678px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_108 {
  position: absolute;
  z-index: -24;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2762px;
  left: 345px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_109 {
  position: absolute;
  z-index: -21;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2426px;
  left: 11.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_110 {
  position: absolute;
  z-index: -22;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2426px;
  left: 346.484375px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_111 {
  position: absolute;
  z-index: -23;
  height: 46px;
  width: 290px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2762px;
  left: 10px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_112 {
  position: absolute;
  z-index: 98;
  height: 33px;
  width: 240px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 2513px;
  left: 698px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_113 {
  position: absolute;
  z-index: 99;
  height: 67px;
  width: 225px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 412px;
  left: 408.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_114 {
  position: absolute;
  z-index: 100;
  height: 67px;
  width: 225px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 412px;
  left: 408.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_115 {
  position: absolute;
  z-index: 101;
  height: 67px;
  width: 225px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 412px;
  left: 408.5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_116 {
  position: absolute;
  z-index: 102;
  height: 44px;
  width: 45px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 98px;
  left: 344px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_117 {
  position: absolute;
  z-index: 103;
  height: 344px;
  width: 250px;
  border: 0px solid rgb(0, 0, 0);
  background-color: transparent;
  top: 3763px;
  left: 354px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}

#elm_4_headline a,
#elm_4_headline {
  margin: 0px;
  padding: 0px;
  font-family: Exo;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-align: left;
  direction: ltr;
  font-size: 32px;
  color: #ffffff;
}

#el_61 {
  font-size: 18px;
  font-weight: bold;
  font-family: Open Sans;
  color: #1f1d1f;
}

#elm_93_headline a,
#elm_93_headline {
  margin: 0px;
  padding: 0px;
  font-family: Lato;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-align: right;
  direction: ltr;
  font-size: 16px;
  color: #ebebeb;
}

.draggable {
  direction: ltr;
  text-align: left;
  float: left;
}

*[etype=Headline] {
  direction: ltr;
}
