<div id="ElementsArea">
    <div class="draggable Image" id="elm_3">
        <img id="elm_3_image" style="width:100%;height:100%;"
             src="/assets/cvmkqhanuwryxohheyqpydfzo_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable section1 Headline" id="elm_4">
        <h2 id="elm_4_headline">iSh! - Encontre o Serviço Desejado</h2>
    </div>
    <div class="draggable Text" id="elm_5">
        <div id="elm_5_text">
            <p>
                <span style="line-height:43px">
                    <span style="font-family:exo">
                        <span style="color:#FFFFFF">
                            <span style="font-size:55px">
                                CONECTA&nbsp;VOCÊ, COM O SERVIÇO
                                CERTO
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_6">
        <div id="elm_6_text">
            <p>
                <font color="#ffffff" face="open sans">
                    <span style="font-size:16px">
                        Encontre os profissionais,
                        prestadores de serviços&nbsp;mais adequados, com rapidez e confiabilidade através da
                        plataform iSh apenas com alguns toques.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_9">
        <img id="elm_9_image" style="width:100%;height:100%;"
             src="/assets/home_app.png" title=""
             alt="">
    </div>
    <div class="draggable Text" id="elm_10">
        <div id="elm_10_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo">
                    <span style="font-size:35px">
                        FACIL DE ENCONTRAR O SERVIÇO
                        DESEJADO
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_11">
        <div id="elm_11_text">
            <p style="text-align: center;">
                <span style="color:#696969">
                    <span style="font-size:18px">
                        <span style="font-family:open sans">
                            Faça a busca pelo profissional desejado, escolha os que
                            aparecerem online e aguarde chegar em sua residencia. Acompanhe pelo aplicativo o tempo
                            de chegada. Ao chegar, confira o nome, a empresa (caso seja uma empresa) e a foto do
                            profissional.
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_12">
        <img id="elm_12_image" style="width:100%;height:100%;"
             src="/assets/apjthlyjgphztihsuhcbdhudn_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_13">
        <img id="elm_13_image" style="width:100%;height:100%;"
             src="/assets/ajznhkulvsbaydoilvmowgxmf_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_14">
        <img id="elm_14_image" style="width:100%;height:100%;"
             src="/assets/copxrtugfgbywyennxqfrvdns_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_15">
        <img id="elm_15_image" style="width:100%;height:100%;"
             src="/assets/rliorumnifweneygttwnkpwhb_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_16">
        <img id="elm_16_image" style="width:100%;height:100%;"
             src="/assets/iiggnhlcfzhmromolntijztrz_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_17">
        <img id="elm_17_image" style="width:100%;height:100%;"
             src="/assets/xcgzibpbnilfgvxkcierucfkz_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Text" id="elm_24">
        <div id="elm_24_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Precisou de um prestador de
                                serviços? Eletricista, Encanador, Babá? Faça sua busca pelos profissionais online, e
                                encontre os mais adequados às suas necessidades.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_25">
        <div id="elm_25_text">
            <p style="text-align: center;">
                <font color="#60636a" face="open sans">
                    <span style="font-size:18px">
                        O aplicativo irá buscar todos os
                        profissionais, da área desejada que estejam online, e apresentará uma listá-los para você
                        escolher.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_26">
        <div id="elm_26_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Através do aplicativo, você
                                poderá acompanhar onde o prestador está, e sua previsão de
                                chegada.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_27">
        <div id="elm_27_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Você terá a disposição a lista
                                de todos os ultimos chamados efetuadospor você, e&nbsp;os valores
                                pagos.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_28">
        <div id="elm_28_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Pontue dê seu feedback para
                                cada atendimento, sobre o profissional que o atendeu, para que todos conheçam seu
                                serviço.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_29">
        <div id="elm_29_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Antes do profissional chegar a
                                sua residência, converse com ele e adiante o serviço a ser realizado para melhor ser
                                atendido.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_30">
        <img id="elm_30_image" style="width:100%;height:100%;"
             src="/assets/2020-02-28-14-34-14-133dlxaghoejmkevorombsywgown_UserMedia.png" title=""
             alt="">
    </div>
    <div class="draggable Text" id="elm_37">
        <div id="elm_37_text">
            <p>
                <span style="line-height:34px">
                    <span style="color:#1f1d1f">
                        <span style="font-size:35px">
                            <span style="font-family:exo">
                                "Com o iSh, suas demandas por serviços irão aumentar
                                junto com o seu faturamento."
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_38">
        <div id="elm_38_text">
            <p>
                <font color="#1f1d1f" face="exo">
                    <span style="font-size:35px">
                        ATRAVÉS DO iSh PARA PROFISSIONAIS,
                        VOCÊ RECEBERÁ&nbsp;MUITAS&nbsp;DEMANDAS.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_39">
        <div id="elm_39_text">
            <p>
                <font color="#60636a" face="open sans">
                    <span style="font-size:18px">
                        Cadastre-se, seja aprovado, e
                        aguarde as demandas.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_40">
        <img id="elm_40_image" style="width:100%;height:100%;"
             src="/assets/rgndshegbvxwmkqpfdkgvbwkj_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_41">
        <img id="elm_41_image" style="width:100%;height:100%;"
             src="/assets/wxzjscpueymxdheoungxlwrvi_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Text" id="elm_46">
        <div id="elm_46_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Ao receber uma solicitação no
                                aplicativo, você terá a opção de avaliar se deseja ou não
                                atender.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_47">
        <div id="elm_47_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Converse com o cliente antes
                                de atendê-lo, se conveniente, assim poderá ter uma idéia do problema, e quais
                                equipamentos ou materiais&nbsp;irá necessitar.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_48">
        <div id="elm_48_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Aceitando a solicitação, você
                                será monitorado via GPS, do seu celular,&nbsp;para que seu cliente saiba o horário
                                de sua chegada ao local.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_49">
        <div id="elm_49_text">
            <p style="text-align: center;">
                <font color="#60636a" face="open sans">
                    <span style="font-size:18px">
                        A plataforma permite que você
                        informe os serviços, caso atenda mais de um, você estará atendendo ao ficar
                        disponível.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_50">
        <img id="elm_50_image" style="width:100%;height:100%;"
             src="/assets/vzmuffxluugccipxrukxrjqzy_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Shape" id="elm_52"></div>
    <div class="draggable Shape" id="elm_54"></div>
    <div class="draggable Text" id="elm_55">
        <div id="elm_55_text">
            <p>
                <span style="color:#60636a">
                    <span style="line-height:17px">
                        <span style="font-size:16px">
                            <span style="font-family:open sans">
                                Através do seu portal web, você terá disponível todos
                                os serviços realizados.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_56">
        <div id="elm_56_text">
            <p>
                <span style="color:#60636a">
                    <span style="line-height:17px">
                        <span style="font-size:16px">
                            <span style="font-family:open sans">
                                Também, poderá consultar relatórios financeiros, com
                                histórico de valores.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_57">
        <div id="elm_57_text">
            <p>
                <span style="color:#60636a">
                    <span style="line-height:17px">
                        <span style="font-size:16px">
                            <span style="font-family:open sans">
                                Além de suporte 24 horas, para auxílio a qualquer
                                dúvida que venha a ter.
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_58">
        <img id="elm_58_image" style="width:100%;height:100%;"
             src="/assets/iogsqyirgibtovvdawruqhmca_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_59">
        <img id="elm_59_image" style="width:100%;height:100%;"
             src="/assets/iogsqyirgibtovvdawruqhmca_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_60">
        <img id="elm_60_image" style="width:100%;height:100%;"
             src="/assets/iogsqyirgibtovvdawruqhmca_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable button" id="elm_61" style="cursor: pointer;">
        <a target="_blank"
           id="2ce88068-53e0-4547-a54f-cd9b67cdd79f" class="" data-rel="_blank" href="http://www.acades.com/">
            <span tabindex="1" style="display:inline-block; vertical-align:middle; height:100%"></span><span class="elButton" id="el_61">Baixar Mock</span>
        </a>
    </div>
    <div class="draggable Text" id="elm_62">
        <div id="elm_62_text">
            <p style="text-align: center;">
                <font color="#ffffff" face="exo">
                    <span style="font-size:55px">O APP ESTARÁ PRONTO EM BREVE</span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_63">
        <div id="elm_63_text">
            <p style="text-align: center;">
                <font color="#ffffff" face="open sans">
                    <span style="font-size:16px">
                        Increva-se, no formulário
                        abaixo,
                        para ficar informado do lançamento do Aplicativo e do Site para cadastramento de
                        profissionais.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_64">
        <img id="elm_64_image" style="width:100%;height:100%;"
             src="/assets/2020-02-23-18-09-20-215pbncdpoojptzpjqxedeinzlzx_UserMedia.png" title=""
             alt="">
    </div>
    <div class="draggable Text" id="elm_73">
        <div id="elm_73_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo"><span style="font-size:55px">Nossa equipe</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_74">
        <div id="elm_74_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="open sans">
                    <span style="font-size:16px">
                        A princípio, todo o projeto,
                        está sendo desenvolvido por seu idealizador. Mas logo teremos uma grande equipe.
                    </span>
                </font>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_75">
        <img id="elm_75_image" style="width:100%;height:100%;"
             src="/assets/2020-02-28-14-25-40-429djqqcscjfirsylryccjpvvvmh_UserMedia.png" title=""
             alt="">
    </div>
    <div class="draggable Text" id="elm_77">
        <div id="elm_77_text">
            <p style="text-align: center;">
                <span style="color:#1f1d1f">
                    <span style="font-family:exo">
                        <span style="font-size:35px">Alex Pimenta</span>
                    </span><br>
                    <span style="font-family:open sans"><span style="font-size:18px">Co-CEO</span></span>
                </span>
            </p>

            <p>&nbsp;</p>
        </div>
    </div>
    <div class="draggable Text" id="elm_79">
        <div id="elm_79_text">
            <p style="text-align: center;">
                <span style="line-height:18px">
                    <span style="font-size:18px">
                        <span style="color:#60636a">
                            <span style="font-family:open sans">
                                Idealizador e
                                desenvolvedor&nbsp;do Projeto
                            </span>
                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Shape" id="elm_81"></div>
    <div class="draggable Image" id="elm_91">
        <img id="elm_91_image" style="width:100%;height:100%;"
             src="/assets/marca_logo.png" title=""
             alt="">
    </div>
    <div class="draggable section1 Headline" id="elm_93">
        <h2 id="elm_93_headline">
            <a target="_blank" id="fc566bfb-1b80-41f0-8867-7e8bf4f9cfaf" class=""
               data-rel="_blank" href="http://www.acades.com/">Proudly powered by ACADES ©</a>
        </h2>
    </div>
    <div class="draggable Image" id="elm_95">
        <img id="elm_95_image" style="width:100%;height:100%;"
             src="/assets/tojcdryraimnobmrhmzlmtabc_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_96">
        <img id="elm_96_image" style="width:100%;height:100%;"
             src="/assets/ybqhxqvosnfqfclyqjlzmwprj_UserMedia.png" title="" alt="">
    </div>
    <div class="draggable Image" id="elm_97">
        <img id="elm_97_image" style="width:100%;height:100%;"
             src="/assets/2020-02-23-17-40-36-402utltyggadakyfmwmxzaglcnzx_UserMedia.png" title=""
             alt="">
    </div>
    <div class="draggable Image" id="elm_98">
        <a target="_blank" id="17ba59a5-8562-42f4-9357-3ae23829e082" class=""
           data-rel="_blank" href="http://www.acades.com/">
            <img id="elm_98_image" style="width:100%;height:100%;"
                 src="/assets/2020-02-29-03-00-05-046znrlmkqdinzssjskwrhqnjanw_UserMedia.png"
                 title="" alt="">
        </a>
    </div>
    <div class="draggable Image" id="elm_99">
        <a target="_blank" id="59873b0c-194e-4d9c-b2d6-6f38521e7ec6" class=""
           data-rel="_blank" href="http://www.acades.com/">
            <img id="elm_99_image" style="width:100%;height:100%;"
                 src="/assets/acsfbwhkdhoxspnixmkotgsid_UserMedia.png" title="" alt="">
        </a>
    </div>
    <div class="draggable Text" id="elm_102">
        <div id="elm_102_text">
            <p style="text-align: center;">
                <span style="color:rgb(31, 29, 31); font-family:exo; font-size:35px; text-align:center">
                    Faça a
                    Busca
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_103">
        <div id="elm_103_text">
            <p style="text-align: center;">
                <span style="color:rgb(31, 29, 31); font-family:exo; font-size:35px; text-align:center">
                    Encontre
                    Online
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_104">
        <div id="elm_104_text">
            <p style="text-align: center;">
                <span style="color:rgb(31, 29, 31); font-family:exo; font-size:35px; text-align:center">
                    Aguarde
                    Chegar
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_105">
        <div id="elm_105_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo"><span style="font-size:35px">Ultimos Chamados</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_106">
        <div id="elm_106_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo"><span style="font-size:35px">Compartilhe</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_107">
        <div id="elm_107_text">
            <p style="text-align: center;">
                <span style="color:rgb(31, 29, 31); font-family:exo; font-size:35px; text-align:center">
                    Converse
                    Antes
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_108">
        <div id="elm_108_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo"><span style="font-size:35px">Configure</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_109">
        <div id="elm_109_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo"><span style="font-size:35px">A Escolha É Sua</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_110">
        <div id="elm_110_text">
            <p style="text-align: center;">
                <font color="#1f1d1f" face="exo"><span style="font-size:35px">Comunique-se</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_111">
        <div id="elm_111_text">
            <p style="text-align: center;">
                <span style="color:rgb(31, 29, 31); font-family:exo; font-size:35px; text-align:center">
                    Aceite o
                    Serviço
                </span>
            </p>
        </div>
    </div>
    <div class="draggable Text" id="elm_112">
        <div id="elm_112_text">
            <p>
                <font color="#1f1d1f" face="exo"><span style="font-size:25px">Mais serviços...</span></font>
            </p>
        </div>
    </div>
    <div class="draggable Image" id="elm_113">
        <a target="_blank" id="d823fd95-bc4f-431e-8a77-201bb13926d8" class=""
           data-rel="_blank" href="http://www.acades.com/">
            <img id="elm_113_image" style="width:100%;height:100%;"
                 src="/assets/acsfbwhkdhoxspnixmkotgsid_UserMedia.png" title="" alt="">
        </a>
    </div>
    <div class="draggable Image" id="elm_114">
        <a target="_blank" id="5c8440f6-a284-45e0-b094-9f9108e5bd80" class=""
           data-rel="_blank" href="http://www.acades.com/">
            <img id="elm_114_image" style="width:100%;height:100%;"
                 src="/assets/acsfbwhkdhoxspnixmkotgsid_UserMedia.png" title="" alt="">
        </a>
    </div>
    <div class="draggable Image" id="elm_115">
        <a target="_blank" id="462f7596-ab00-453e-953e-75a70b24467d" class=""
           data-rel="_blank" href="http://www.acades.com/">
            <img id="elm_115_image" style="width:100%;height:100%;"
                 src="/assets/2020-02-29-02-56-37-109hbxaphnhsvtpddyxjenslxkur_UserMedia.png"
                 title="" alt="">
        </a>
    </div>
    <div class="draggable Image" id="elm_116">
        <img id="elm_116_image" style="width:100%;height:100%;"
             src="/assets/logo_app.png" title=""
             alt="">
    </div>
    <div class="draggable Form" id="elm_117">
        <form id="form_elm_117" class="needs-validation"
              novalidate>
            <div class="form-container ltr">
                <input type="hidden" id="submission_action"
                       value="{&quot;message_box&quot;:{&quot;message&quot;:&quot;Obrigado pelo cadastro, logo enviaremos mais informações.&quot;,&quot;url&quot;:null,&quot;target&quot;:null,&quot;width&quot;:0,&quot;height&quot;:0}}">
                <div class="field-container form-row" style="margin-bottom:15px;" data-fieldid="Fs48TBf3">
                    <label style="font-size:15px;font-family:Arial;color:#ffffff;" class="field-label sr-only">
                        Nome:<span class="req-field" required>*</span>
                    </label>
                    <div>
                        <input data-validation="required,alphabetic" value=""
                               class="form-control"
                               style="height:35px;width:250px;color:#000;font-family:arial;font-size:12px;border:solid 1px #d1d1d1;border-radius:3px;background-color:#ffffff;"
                               type="text" placeholder="Informe seu Nome" name="txtName" id="txtName" required>
                        <div class="invalid-feedback">O Nome é Obrigatório.</div>
                    </div>

                </div>
                <div class="field-container form-row" style="margin-bottom:15px;" data-fieldid="CRiaIMqp">
                    <label style="font-size:15px;font-family:Arial;color:#ffffff;" class="field-label sr-only">
                        Email:<span class="req-field">*</span>
                    </label>
                    <div>
                        <input data-validation="required,email" value=""
                               class="form-control"
                               style="height:35px;width:250px;color:#000;font-family:arial;font-size:12px;border:solid 1px #d1d1d1;border-radius:3px;background-color:#ffffff;"
                               type="text" placeholder="Informe o Email" name="txtEmail" id="txtEmail" required>
                        <div class="invalid-feedback">O Email é Obrigatório.</div>
                    </div>
                </div>
                <div class="field-container form-row" style="margin-bottom:15px;" data-fieldid="Kkj72unw">
                    <label style="font-size:15px;font-family:Arial;color:#ffffff;" class="field-label sr-only">
                        Celular:<span class="req-field">*</span>
                    </label>
                    <div>
                        <input data-validation="required,phone_5_20" value=""
                               class="form-control"
                               style="height:35px;width:250px;color:#000;font-family:arial;font-size:12px;border:solid 1px #d1d1d1;border-radius:3px;background-color:#ffffff;"
                               type="tel" placeholder="Informe o Celular" name="txtPhone" id="txtPhone" required>
                        <div class="invalid-feedback">O Celular é Obrigatório.</div>
                    </div>
                </div>
                <div class="field-container form-row" style="margin-bottom:15px;" data-fieldid="1lCaZGN0">
                    <label style="font-size:15px;font-family:Arial;color:#ffffff;" class="field-label sr-only">
                        Serviço<span class="req-field">*</span>
                    </label>
                    <div>
                        <select data-validation="required"
                                class="form-control"
                                style="height:35px;width:250px;color:#000;font-family:arial;font-size:12px;border:solid 1px #d1d1d1;border-radius:3px;background-color:#ffffff;"
                                name="selService" id="selService" required>
                            <option value="">Selecione a Profissão</option>
                            <option value="1">Eletricista</option>
                            <option value="2">Encanador</option>
                            <option value="3">Mecânico Hidráulico</option>
                            <option value="4">Mecânico de Automóvel</option>
                        </select>
                        <div class="invalid-feedback">A Profissão é Obrigatória.</div>
                    </div>
                </div>
                <div style="cursor: pointer;" class="field-container button">
                    <div>
                        <input type="submit"
                               class="btn btn-primary"
                               style="width:250px;height:40px;background-color:rgb(243, 206, 52);background-position:center center;background-repeat:no-repeat;border:solid 0px #000;color:#000000;font-family:arial;font-size:15px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;"
                               value="Enviar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="section" id="SECTION3">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION8">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION7">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION6">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION5">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION4">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION1">
    <div class="section-centered"></div>
</div>
<div class="section" id="SECTION2">
    <div class="section-centered"></div>
</div>
